


<div class="control-section">
  <div *ngFor="let docum of documents" style="padding-top: 10px;padding-bottom: 5px; border: 1px solid black;width: 250px;" class="content-wrapper1" >
  <div (click)="showPdf(docum)" >
    <div [class.active]="selectedDocName === docum.documentName">
      {{docum.documentName}}
    </div>
  </div>
  </div>
  <div class="content-wrapper2">
    <ejs-pdfviewer
      id="pdfViewer"
      [serviceUrl]="service"
      [documentPath]='document' 
      style="height: 800px; margin-top: 0px;"  
    ></ejs-pdfviewer>
  </div>
</div>

<div class="control-section2">
  <div *ngFor="let item of documentList; let indexOfelement = index;" >
    <div [hidden]="!(selectedDocName === item.documentName)">
      <ejs-pdfviewer
      id="pdfViewer{{indexOfelement}}"
      [serviceUrl]="service"
      [documentPath]='documentList[indexOfelement] | json'   
      style="height: 800px; margin-top: 0px;"  
    ></ejs-pdfviewer>
    </div>
  </div>
</div>



<!-- <ejs-pdfviewer
  id="pdfViewer1"
  [serviceUrl]="service"
  [documentPath]='documentList[0] | json' 
  style="height: 800px; margin-top: 0px;"  
></ejs-pdfviewer>

<ejs-pdfviewer
id="pdfViewer2"
[serviceUrl]="service"
[documentPath]='documentList[1] | json' 
style="height: 800px; margin-top: 0px;"  
></ejs-pdfviewer>

<ejs-pdfviewer
id="pdfViewer3"
[serviceUrl]="service"
[documentPath]='documentList[2] | json' 
style="height: 800px; margin-top: 0px;"  
></ejs-pdfviewer>

<ejs-pdfviewer
id="pdfViewer4"
[serviceUrl]="service"
[documentPath]='documentList[3] | json' 
style="height: 800px; margin-top: 0px;"  
></ejs-pdfviewer>

<ejs-pdfviewer
id="pdfViewer5"
[serviceUrl]="service"
[documentPath]='documentList[5] | json' 
style="height: 800px; margin-top: 0px;"  
></ejs-pdfviewer> -->
